extends default.jade

block content

  article.product
  
    if image
      img.product__image(src="/images/#{ image }", alt="#{ title }")
    else
      .product__image.product__image--placeholder

    section.product__info

      h1.product__title= title

      != contents

      hr
        
      .product__buy

        h3.product__price $#{ price }

        a.snipcart-add-item.btn.product__button(href="#",
          data-item-id= id ,
          data-item-name= title ,
          data-item-price= price ,
          data-item-weight= weight ,
          data-item-url= path ,
          data-item-description= description ? description : '') Add to Cart
