extends page.jade

block content

  each item in collections.store
  
    section.product-preview
  
      if item.image
        a.product-preview__image(href="/#{ item.path }"): img(src="/images/#{ item.image }")
      else
        .product-preview__placeholder
      
      h3.product-preview__name: a(href="/#{ item.path }")= item.title
      h4.product-preview__data
        a.product-preview__price(href="/#{ item.path }") $#{ item.price }
        if item.categories
          | &#032;|&#032;
          each category in item.categories
            a.product-preview__category(href="/#{ item.path }")= category
