extends page.jade

block prepend title
  - var title = tag

block prepend header
  - var headline = tag
  - var description = "Posts tagged '" + tag + "'"

block content

  each post in pagination.files

    section.post-preview
    
      .post-preview__meta
        
        if post.date
          h3.post-preview__date: a(href="/#{ post.path }"): time(datetime=moment.utc(post.date))= moment.utc(post.date).format("MMM Do")
    
        if post.tags
          .post-preview__tags
            for hash in post.tags
              a.post-preview__tag(href="/tagged/#{ tag.toLowerCase() }")= hash
        
      .post-preview__text
    
        h2.post-preview__title: a(href="/#{ post.path }")= post.title

        h4.post-preview__snippet= post.snippet
      
  if pagination.next || pagination.previous

    nav(role="pagination").pagination
    
      .pagination__first
        if pagination.num != 1
          a.btn(rel="first", href="/#{ pagination.first.path }") Newest
          
      ul.pagination__pages
        if pagination.previous
          li: a(href="/#{ pagination.previous.path }")= pagination.num - 1
        li.pagination__current= pagination.num
        if pagination.next
          li: a(href="/#{ pagination.next.path }")= pagination.num + 1
        
      .pagination__last
        if pagination.num != pagination.pages.length
          a.btn(rel="last", href="/#{ pagination.last.path }") Oldest
