doctype html
- var header = true
include utils/_mixins.jade
html
  head
    include partials/_head.jade
  body
    include partials/_nav.jade
    
    block header
      header(class="header header--#{ title.toLowerCase() }")
        .header__text
          if headline
            h1= headline
          else
            h1= title
          if description
            h3!= description

    main.main(role="main")
      block content
        p!= contents

    include partials/_footer.jade
    include partials/_scripts.jade
